@(form: Form[Application.Login])

@page("Nsih - Login"){
	<p>Veuillez entrer vos identifiants pour accéder à votre espace personnel.</p>
	@helper.form(routes.Application.authenticate) {
		@if(form.hasGlobalErrors) {
			<p class="error">
				@form.globalError.message
			</p>
		}

		<p>
		   <input type="email" name="email" placeholder="Email" value="@form("email").value">
		</p>
		<p>
		   <input type="password" name="password" placeholder="Mot de passe">
		</p>
		<p>
		   <button type="submit">S'identifier</button>
		</p>
	}
} {<div><p>NEWS</p></div>}
